[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"

[packages]
pytest = "*"
numpy = "*"
pandas = "*"
pyyaml = "*"
statsmodels = "*"
prettytable = "*"
pipfile = "*"
pystan = "*"
matplotlib = "*"
jupyter = "*"
notebook = ">=6.1.5"
coverage = "*"
codecov = "*"

[requires]
python_version = "3.7"
